<html>
    
    <head>
            <Title> Header Footer Template</Title>
            <link rel="stylesheet" type="text/css" href="css/index.css">
    </head>
    <body> 
        <center>
            <div id="header">
                HELLO!!!! Welcome to the Header Footer Template
                <br>
                this is the header
            </div>
            
            <br>
            <br>
            <br>
            <br>
    
    
    
            <div id="Footer">
                  HELLO!!!! Welcome to the Header Footer Template
                <br>
                  This is the footer
            </div>
        </center>
    </body>

</html>