<html>
    <head>
        <title>
            Login page
        </title>
    </head>
    <body style="background-color: blanchedalmond">
        <marquee direction="right" style="color: black;text-decoration: underline;background-color: burlywood">Crazy Koders Creation</marquee>
        <br><br>
        <center>
            <img src="logo.jpg" style="height: 200;width: 250">
            <br><br>
            <h2>Hello Welcome to My login page</h2>
            <p>This is a log in page for users already having an account</p>
            <br>
            <b>
                <font>Username:</font>
                <input type="text" id="em1" placeholder="Enter the username:">
                <br><br>
                <font>Password:</font>
                <input type="password" id="pass" placeholder="Enter the password">
                <br><br>
            </b>
            <button onclick="abc()">Log In</button><br><br>
            <a href="signup.html">Create a new Account</a>
            <script type="text/javascript" src="js/index.js"></script>
            <script type="text/javascript" src="js/jquery.js"></script>
        </center>
        
    </body>

</html>