<html>
    <head>
        <title>
            Signup page
        </title>
    </head>                                                                 
    <body style="background-color: #F0DCA9">
        <marquee direction="right" style="color: black;text-decoration: underline;background-color: burlywood">Crazy Koders Creation</marquee>
        <br><br>
        <center>
            <img src="signup.png">
            <br><br>
            <form>
                <b>
                    <font>Name:</font>
                    <input type="text" id="first" placeholder="First Name">
                    <input type="text" id="last" placeholder="Last Name">
                    <br><br>
                    <font>Email:</font>
                    <input type="text" id="em2" placeholder="Enter the Email">
                    <br><br>
                    <font>Password:</font>
                    <input type="password" id="pass1" placeholder="New password">
                    <br><br>
                    <font> Confirm Password:</font>
                    <input type="password" id="pass2" placeholder="Confirm password">
                    <br><br>
                    <font>Gender:</font>
                    <input type="radio" >Male
                    <input type="radio" >Female
                    <input type="radio" >Others
                    <br><br>
                    <input type="reset" value="Reset" style="height: 20;width: 100">
                    <br><br>
                </b>
            </form>
            <b>
                <button onclick="xyz()" style="height: 20;width: 100">Submit</button>
                <a href="index.html"><button style="height: 20;width: 100">Cancel</button></a>
                <script type="text/javascript" src="js/index.js"></script>
                <script type="text/javascript" src="js/jquery.js"></script>
            </b>
        </center>
    </body>
</html>